# Created by Yuxuan Zhang @ University of Florida

# VS Code Settings
.vscode
# Syllabus and assignment instructions
*.pdf
# Submission zip files
*.zip
# Build system
build
# Test scripts / inputs / outputs
test
# Temporary files
var
