# Created by Yuxuan Zhang @ University of Florida
# VS Code Settings
.vscode
# MacOS Finder Cache
.DS_Store
# Syllabus and assignment instructions
*.pdf
# Archives for submission
*.zip
*.tar.gz
*.tar
*.tgz
# Build system
build
# Test scripts / inputs / outputs
test/*.diff
# Temporary files
var
tmp
